
.projects{
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 6px;
    padding-right: 150px;
    padding-top: 80px;
    display: flex;
    justify-content: flex-end;
   
}

.main-container-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.first-div{
    cursor: pointer;
}

.second-div{
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 80%;
   
}
.second-div1{
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    padding-left: 100px;
    width: 80%;
}

.laptop-image{
    width: 100%;
    background: none;
}